@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Optional Custom Dark Mode Styles */
@layer components {
  .dark .custom-component {
    @apply bg-gray-900 text-white;
  }
}
body{
  overflow-x: hidden;
}
* {
  scroll-behavior: smooth;
   
}

/* button {
  border: solid black 1.5px;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 2.5px 5px #c2c2c2;
} */

/* WebKit browsers */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(255, 0, 0, 0.065); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ffc527af, #e21a1a8f);   

  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #FFC727, #e21a1a);   
}